body {
  background-color: #fff;
  margin-left: 20px;
  width: 700px;
  font-weight: initial;
}

.bg{
  width: 1200px;
  height: auto;
}
.cart img {
  width: 260px;
  border-radius: 12px;
}
.cart p {
  margin-left: 5px;
}
.cart {
  float: left;
  margin: 10px 20px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  width: 260px;
  
}
.subCart {
  margin-left: 5px;
}
.subCart span strong {
  color: #3699d4;

}
.input {
  margin-left: 20px;
  width: 700px;
  border: none;
} 
.input:focus {
  border: none;
  outline: none;
}